---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
/* import FAQs from '~/components/widgets/FAQs.astro'; */
import SectionYards from '~/components/SectionYards.tsx';
import ContactForm from '~/components/widgets/ContactForm';
const metadata = {
  title: 'REAL-ESTATE DEVELOPERS LLC',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero id='home'>
  <!-- <Fragment slot="title"> Find Your Dream Space, Renovated to Perfection. </Fragment> -->
  
  <Fragment slot="title" >WELCOME TO GJ REAL ESTATE DEVELOPERS LLC</Fragment>
  <Fragment slot="subtitle">
    <span class="font-semibold uppercase">  We transform spaces, we create opportunities!</span>
    <!-- <span class="hidden sm:inline">
      <span class="font-semibold uppercase">  We transform spaces, we create opportunities!</span>
      </span> -->
      <span class="block mb-1 font-bold">We specialize in the renovation and sale of residential properties in the estate of Arizona.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- Features Widget *************** -->

  <Features
    id="about"
    tagline="ABOUT"
    title="WHAT YOU GET WITH GJ REAL Estate"
    subtitle=`GJ Real Estate Developers is a business specializing in the development, investment, and construction of residential real estate across the estate of Arizona. The company focuses on creating high-quality, sustainable housing communities that meet the diverse needs of Arizona’s growing population. From land acquisition and planning to construction and project management, Arizona Residential Developments handles every phase of the process, ensuring innovative design, superior craftsmanship, and profitable investment opportunities for partners and clients alike. Their expertise in the Arizona market makes them a trusted leader in residential real estate development.`
    items={[
      {
        title: 'MISSION',
        description:
          'We design and enhance houses, transforming them into homes.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'OBJECTIVE',
        description:'Build one great home at a time and find the best client for that house.',
        icon: 'tabler:components',
      },
      
      {
        title: 'VISION 2027',
        description:
          'We are a one million dollar company in assets within Arizona Estate.',
        icon: 'tabler:rocket',
      },
      
      {
        title: 'BUSSINESS LINE',
        description:
          'Real Estate Development. In general, remodeling of houses, construction of houses, to rent them for a short-term period (1 to 2 years) and then sell them.',
        icon: 'tabler:bulb',
      },
    ]}
  />
  
  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->
   <span id="projects"></span>
 <SectionYards client:load />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    id="services"
    title="OUR SERVICES"
    subtitle="Explore our services to discover how our innovative approaches in real estate development, design, and project management can transform your experience in creating sustainable, high-quality communities."
    tagline="SERVICES"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'DEVELOPMENT',
        description:
          "Real estate development, investment and construction.",
      },
      {
        title: 'HIGHT QUALITY',
        description:
          'Creating sustainable, high-quality housing communities.',
      },
      {
        title: 'SUPPORT ',
        description:
          "Support from acquisition, land planning to construction and project management.",
      },
      {
        title: "DESIGN",
        description:
          "Expert architectural and interior design services, tailored to create functional, aesthetic, and sustainable spaces that enhance living experiences.",
      },
      
    ]}
  /> -->

 
<span id="contact"></span>
<br><br><br><br>
  <div class="mt-12 mb-12 flex justify-center items-start flex-wrap">
    <ContactForm client:load />
    
      <section class="custom-section-google-map relative not-prose scroll-mt-[72px]  h-full intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
  
        <iframe class="" title="address map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3375.4059646934315!2d-110.81903072390907!3d32.220233912231166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d66f4efe74628d%3A0x7f9026aaee4fa38f!2s8230%20E%20Broadway%20Blvd!5e0!3m2!1ses-419!2smx!4v1727295719986!5m2!1ses-419!2smx" width="100%"  style="height: 80vh;"
     allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </section>
   
  </div>

  <!-- CallToAction Widget *********** -->
</Layout>
