---
/* import { SITE } from 'astrowind:config'; */
import logo from '../assets/images/real-estate.png';
import { Image } from 'astro:assets';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<Image  src={logo} alt="My Image" width={70} class:list={["!md:w-[10px]"]}  sizes="(min-width: 768px) 70px, 100vw"/>
   <!-- {SITE?.name} -->
</span>
