<section class="relative not-prose scroll-mt-[72px]">
    <div
      class="absolute inset-0 pointer-events-none -z-[1]"
      aria-hidden="true"
      data-astro-source-file="C:/projects/real-state/src/components/ui/WidgetWrapper.astro"
      data-astro-source-loc="18:79"
    >
      <div
        class="absolute inset-0"
        data-astro-source-file="C:/projects/real-state/src/components/ui/Background.astro"
        data-astro-source-loc="9:83"
      >
      </div>
    </div>
    <div
      class="relative mx-auto max-w-7xl px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default"
      data-astro-source-file="C:/projects/real-state/src/components/ui/WidgetWrapper.astro"
      data-astro-source-loc="28:4"
    >
      <div
        class="flex flex-col lg:justify-between lg:flex-row mb-8"
        data-astro-source-file="C:/projects/real-state/src/components/widgets/BlogLatestPosts.astro"
        data-astro-source-loc="39:70"
      >
        <div
          class="md:max-w-sm"
          data-astro-source-file="C:/projects/real-state/src/components/widgets/BlogLatestPosts.astro"
          data-astro-source-loc="41:36"
        >
          <h2
            class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
            data-astro-source-file="C:/projects/real-state/src/components/widgets/BlogLatestPosts.astro"
            data-astro-source-loc="42:14"
          >
            Find out more content in our Blog
          </h2><a
            class="cursor-pointer hover:text-primary"
            href="/blog"
            data-astro-source-file="C:/projects/real-state/src/components/ui/Button.astro"
            data-astro-source-loc="35:6"
          >
            View all posts »
          </a>
        </div><p
          class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md"
          data-astro-source-file="C:/projects/real-state/src/components/widgets/BlogLatestPosts.astro"
          data-astro-source-loc="55:26"
        >
          The blog is used to display REAL STATE documentation. Each new article will be an important step that you will
          need to know to be an expert in creating a website using REAL-STATE. Astro is a very interesting technology.
          Thanks.
        </p>
      </div><div
        class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6"
        data-astro-source-file="C:/projects/real-state/src/components/blog/Grid.astro"
        data-astro-source-loc="12:71"
      >
        <article
          class="mb-6 transition"
          data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
          data-astro-source-loc="20:34"
        >
          <div
            class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="21:86"
          >
            <a
              href="/get-started-website-with-astro-tailwind-css"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="25:26"
            >
              <img
                src="src/assets/images/yard_01.jpeg"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
                class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                
                width="400"
                sizes="(max-width: 900px) 400px, 900px"
                alt="Get started with Real State to create a website using Astro and Tailwind CSS"
              />
            </a>
          </div>
          <h3
            class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="56:97"
          >
            <a
              class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
              href="/get-started-website-with-astro-tailwind-css"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="59:121"
            >
              Get started with Real State to create a website using Astro and Tailwind CSS
            </a>
          </h3>
          <p
            class="text-muted dark:text-slate-400 text-lg"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="68:53"
          >
            Start your web journey with Real State – harness Astro and Tailwind CSS for a stunning site. Explore our
            guide now.
          </p>
        </article><article
          class="mb-6 transition"
          data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
          data-astro-source-loc="20:34"
        >
          <div
            class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="21:86"
          >
            <a
              href="/useful-resources-to-create-websites"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="25:26"
            >
              <img
                src="src/assets/images/yard_02.jpeg"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
                class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                
                width="400"
                sizes="(max-width: 900px) 400px, 900px"
                alt="Useful tools and resources to create a professional website"
              />
            </a>
          </div>
          <h3
            class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="56:97"
          >
            <a
              class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
              href="/useful-resources-to-create-websites"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="59:121"
            >
              Useful tools and resources to create a professional website
            </a>
          </h3>
          <p
            class="text-muted dark:text-slate-400 text-lg"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="68:53"
          >
            Explore vital tools and resources for a sleek website. From design to functionality, our guide elevates your
            online presence.
          </p>
        </article><article
          class="mb-6 transition"
          data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
          data-astro-source-loc="20:34"
        >
          <div
            class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="21:86"
          >
            <a
              href="/how-to-customize-Real State-to-your-brand"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="25:26"
            >
              <img
                src="src/assets/images/yard_03.jpeg"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
                class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                
                width="400"
                sizes="(max-width: 900px) 400px, 900px"
                alt="How to customize Real State template to suit your branding"
              />
            </a>
          </div>
          <h3
            class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="56:97"
          >
            <a
              class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
              href="/how-to-customize-Real State-to-your-brand"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="59:121"
            >
              How to customize Real State template to suit your branding
            </a>
          </h3>
          <p
            class="text-muted dark:text-slate-400 text-lg"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="68:53"
          >
            Personalize Real State template for your brand. Our guide unlocks seamless customization steps for a unique
            online presence.
          </p>
        </article><article
          class="mb-6 transition"
          data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
          data-astro-source-loc="20:34"
        >
          <div
            class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded shadow-lg mb-6"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="21:86"
          >
            <a
              href="/Real State-template-in-depth"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="25:26"
            >
              <img
                src="src/assets/images/yard_04.jpeg"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
                class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                
                width="400"
                sizes="(max-width: 900px) 400px, 900px"
                alt="Real State template in depth"
              />
            </a>
          </div>
          <h3
            class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="56:97"
          >
            <a
              class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
              href="/Real State-template-in-depth"
              data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
              data-astro-source-loc="59:121"
            >
              Real State template in depth
            </a>
          </h3>
          <p
            class="text-muted dark:text-slate-400 text-lg"
            data-astro-source-file="C:/projects/real-state/src/components/blog/GridItem.astro"
            data-astro-source-loc="68:53"
          >
            While easy to get started, Real State is quite complex internally. This page provides documentation on some
            of the more intricate parts.
          </p>
        </article>
      </div>
    </div>
  </section>